<h2>Home</h2>

<div id="content">
  <div id="map" class="map" data-bind="map:myNeighborhood"></div>
  <input id="search-input" class="controls" type="text" data-bind="addressAutocomplete:places" autocomplete="on" style="z-index: 0; position: absolute; left: 30px; top: 70px;">
  <form>
    <input type="checkbox" name="restaurants" value="Show Restaurants" class="overlap" data-bind="checked:showRestaurants" checked>
    <span class="overlap"> Show Restaurants</span>
  </form> 
</div>

<div class="overlap place-list">
  <div class="panel-group" id="accordion" data-bind="foreach: restaurants">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
                data-bind="attr: {href: '#place_' + $index() }">
              <span data-bind="text: $data.name">Collapsible Accordion 1</span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  data-bind="attr: {id: 'place_' + $index() }">
          <div class="panel-body">
            <span data-bind="text: $data.name"></span>
          </div>
        </div>
      </div>
  </div>
</div>
